/* Ép menu thu gọn rơi xuống hàng mới trên màn hình nhỏ */
@media (max-width: 991px) {
    .custom-mobile-break {
        flex-basis: 100%;
    }
}

/* Header */
header {
    background-image: linear-gradient(to bottom, #A0D3F5, #1976D2);
}

/* Button */
.button {
    background-color: #002852;
    border-radius: 50px;
    box-shadow: 12px;
}

/* Banner */
/* Tùy chỉnh chiều cao banner để ảnh không bị quá to trên màn hình lớn */
.carousel-item img {
    height: auto;
    object-fit: cover;
    /* Cắt ảnh vừa khung hình mà không bị méo */
}

/* H */
.h-color {
    color: #002852;
}

/* Box */
.box-introduction {
    background-image: linear-gradient(to bottom,#0353B0, #01234A);
    border-radius: 16px;
}

.box-product {
    background-image: linear-gradient(to bottom, #FFFFFF, #E5E5E5);
    border-radius: 16px;
    transition: all 0.3s ease;
}
.box-product:hover {
    border-color: #68819E;
    transform: translateY(-5px);
    background-image: linear-gradient(to bottom, #B5D7FF, #5F95D4);
}

.box-product-info {
    background-color: #f4f9ff;
    border-radius: 16px;
    transition: all 0.3s ease; /* Hiệu ứng chuyển màu mượt mà */
}
.box-product-info:hover {
    background-color: #f4f9ff;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 40, 82, 0.3); /* Thêm đổ bóng nhẹ cho nổi bật */
    transform: translateY(-5px);
}

.box-sale {
    border-radius: 0px 16px 0px 5px !important;
}

/* Trạng thái mặc định (Khi nút CHƯA được chọn) */
.box-tab {
    border-radius: 16px !important;
    background-color: white;
    color: #002852 !important; /* Chữ màu xanh đen của TechMart */
    transition: all 0.3s ease; /* Hiệu ứng chuyển màu mượt mà */
    text-align: center;
}

/* Hiệu ứng khi lướt chuột qua (Hover) */
.box-tab:hover:not(.active) {
    background-color: rgba(0, 110, 227, 0.3);
    transform: translateY(-2px);
}

/* Trạng thái ACTIVE (Khi nút ĐƯỢC CHỌN) */
.nav-pills .box-tab.active {
    background-image: linear-gradient(to bottom, #0353B0, #01234A) !important; /* Trả lại màu gradient của bạn */
    color: #ffffff !important; /* Đổi chữ thành màu trắng */
    border: none;
    box-shadow: 0 4px 8px rgba(0, 40, 82, 0.3); /* Thêm đổ bóng nhẹ cho nổi bật */
}

/* Footer */
/* Tùy chỉnh link ở Footer */
.footer-link {
    transition: all 0.3s ease; /* Giúp hiệu ứng chuyển màu mượt mà hơn */
}

.footer-link:hover {
    color: #0d6efd !important; /* Đổi sang màu xanh primary của Bootstrap */
    text-decoration: underline !important; /* Gạch chân */
    transform: translateX(5px); /* Trượt nhẹ sang phải 5px tạo cảm giác tương tác tốt */
}