/* Header */
header {
    background-image: linear-gradient(to bottom, #A0D3F5, #1976D2);
}

/* Button */
.button {
    background-color: #002852;
    border-radius: 50px;
    box-shadow: 12px;
}

/* Banner */
/* Tùy chỉnh chiều cao banner để ảnh không bị quá to trên màn hình lớn */
.carousel-item img {
    height: auto;
    object-fit: cover;
    /* Cắt ảnh vừa khung hình mà không bị méo */
}

/* H */
.h-color {
    color: #002852;
}

/* Box */
.box-introduction {
    background-image: linear-gradient(to bottom,#0353B0, #01234A);
    border-radius: 16px;
}

.box-product {
    background-image: linear-gradient(to bottom, #FFFFFF, #E5E5E5);
    border-radius: 16px;
    transition: all 0.3s ease;
}
.box-product:hover {
    border-color: #68819E;
    transform: translateY(-5px);
    background-image: linear-gradient(to bottom, #B5D7FF, #5F95D4);
}

/* Footer */
/* Tùy chỉnh link ở Footer */
.footer-link {
    transition: all 0.3s ease; /* Giúp hiệu ứng chuyển màu mượt mà hơn */
}

.footer-link:hover {
    color: #0d6efd !important; /* Đổi sang màu xanh primary của Bootstrap */
    text-decoration: underline !important; /* Gạch chân */
    transform: translateX(5px); /* Trượt nhẹ sang phải 5px tạo cảm giác tương tác tốt */
}